$orangeTron: #df740c;
$yellowTron: #ffe64d;
$lightblueTron: #e6ffff;
$cyanTron: #18cae6;
$basestar: #0c141f;
$greyTron: #d8dae7;
$deepblueTron: #34608d;
$eightiesPurple: #541388;
$eightiesYellow: #f9c80e;
$eightiesPink: #ff4365;
$eightiesCyan: #2de2e6;
$eightiesOrange: #ff6c11;
$eightiesBlue: #507fa5;
$eightiesDarkPurple: #663054;
$lightorangeTron: #fddfc1;